@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import './vars.css';

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: var(--color-background);
  color: var(--text-primary);
  font-family: var(--font-family-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
